

/* .container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} */

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
}

textarea {
    resize: none;
}

.image-preview-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}



.preview-item {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;
}

.preview-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-item .delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hidden {
    display: none;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel {
    background: #ddd;
    color: #333;
}

.continue {
    background: #007bff;
    color: #fff;
}

.add-btn {
    background-color: #28a745;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.department {
    
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #f9f9f9;
}
.department-input{
    display: flex;
}
.size-stock-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 5px;
    
   
}

.size-stock-container input {
    width: 100px;
}
.remove{
  margin-top: auto;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  width: 340px;
}
.input-wrapper label.text {
  font-size: 1rem;
  color: var(--secondary-color);
  font-weight: 700;
  position: relative;
  top: 0.75rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: var(--navbar-dark-secondary);
  width: fit-content;
}
.input-wrapper input[type=text].input {
  padding: 11px 10px;
  font-size: 1rem;
  border: 2px var(--navbar-light-secondary) solid;
  border-radius: 5px;
  background: var(--navbar-dark-secondary);
}
.input-wrapper input[type=number].input {
  padding: 11px 10px;
  font-size: 1rem;
  border: 2px var(--navbar-light-secondary) solid;
  border-radius: 5px;
  background: var(--navbar-dark-secondary);
}
.input-wrapper textarea.input {
  padding: 11px 10px;
  font-size: 1rem;
  border: 2px var(--navbar-light-secondary) solid;
  border-radius: 5px;
  background: var(--navbar-dark-secondary);
}

.input-wrapper input[type=text].input:focus {
  outline: none;
}
.input-wrapper input[type=number].input:focus {
  outline: none;
}
.input-wrapper textarea[type=text].input:focus {
  outline: none;
}
.size-stock-item{
    display: flex;
}
.info-wrapper{
    gap: 8%;
    display: flex;
    justify-content: space-between;
}

.product-info-wrapper{
    background-color: var(--navbar-dark-secondary);
}
.variation-wrapper{
    display: flex;
    justify-content: space-between;
    color: #fff;
   
    background-color: var(--navbar-dark-secondary);
}
.variation-wrapper button{
    padding: 4px 20px;
    background-color: transparent;
    border: none;
    color: #007bff;
  
}
.variation-wrapper h5{
    margin-top: 5px;
}
.variation-wrapper i{
    margin-right: 10px;
}
.variation-group{
    background-color: var(--navbar-dark-secondary);
    
}
.add-size{
    background-color: transparent;
    border: none;
    color: var(--navbar-light-primary);
    margin-left: 10px;
    padding: 5px 10px;

}
.add-size i{
    margin-right: 10px;
    
}
.add-size:hover{
    background-color: #6d6d6d;
}
.variation-input{
    display: flex;
    justify-content: space-between;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}