.notification-card{
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
    
}
.date-time p{
    
    margin: 0;
}
.date-time{
    display: flex;
    width: 160px;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid rgb(179, 179, 179);
}
.subject{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
}
.subject p{
    margin: 0;
}
.empty{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    color: #777;
}