/* Header section */
header h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.stat-card {
    display: flex;
    align-items: center;
    background: var(--navbar-dark-secondary);
    border-radius: 10px;
    padding: 20px;
    width: 32%;
}
.rsv{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    height: 45px;
}
.recent-activity h5{
    color: var(--navbar-light-primary);

}
.icon-stat{
    background-color: #ffbd2e52;
    height: 24px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.stat-card h4 {
    font-size: 1rem;
    margin-bottom: 0;
    
    color: var(--navbar-light-secondary);
}

.stat-card p {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--navbar-light-primary);
    
}

/* Chart section */
.chart {
    margin-bottom: 30px;
}
.chart h5{
    color: var(--navbar-light-primary);
}
.chart-box {
    background-color: #936d1b;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
}


/* Recent Activity section */
.recent-activity table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.recent-activity table th, .recent-activity table td {
    padding: 10px;
    text-align: left;
}

.recent-activity table th {
    background-color: var(--navbar-dark-primary);
   
    color: var(--navbar-light-secondary);
}

.recent-activity table td {
    background-color: transparent;
}

.recent-activity table tr:hover {
    background-color: transparent;
}
td{
    border: none;
        color: var(--navbar-light-primary);

}
.recent-activity{
    background-color: var(--navbar-dark-secondary);
    border-radius: 10px;
    padding: 20px;
    

}
