/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.jpg); /* Replace with your image path */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px) brightness(0.7);
  z-index: -1; /* Place behind the body content */
}

.container {
  display: flex;
  width: 900px;
  max-width: 95%;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 10px 10px 13px 6px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 10px 10px 13px 6px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 10px 10px 13px 6px rgba(0, 0, 0, 0.49);
}

.sidebar {
  background-color: #d9d9d9;
  padding: 20px;
  flex: 1;
  text-align: center;
}

.photo-box {
  width: 1px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.photo-placeholder img {
  width: 510px;
  height: 485px;
  margin-left: 400px;
  margin-top: 250px;
}

.welcome-message {
  color: white;
  padding-top: 170px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.login-section {
  flex: 1;
  background-color: #e0e0e0;
  padding: 60px;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
  margin-left: 130px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  font-size: 32px;
  color: #333;
  margin: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#email {
  width: 94%;
}

.login-button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #555;
}

.forgot-password {
  display: block;
  margin-top: 15px;
  font-size: 12px;
  color: #333;
  text-decoration: none;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

input[type="password"],
input[type="text"] {
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  user-select: none;
}
